name: Infrastructure

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'CDK action to perform'
        required: true
        default: 'diff'
        type: choice
        options:
          - diff
          - destroy

jobs:
  cdk:
    name: CDK ${{ github.event.inputs.action }}
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/_deploy-cdk.yml
    with:
      action: ${{ github.event.inputs.action }}
    secrets: inherit
